name: Converting markdown into html

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]

  workflow_dispatch:

jobs:
  mumbojumbo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup pandoc
        run: sudo apt-get install pandoc=2.11.4 pandoc-sidenote

      - name: Convert
        run: make

      - name: Upload artifact
        uses: actions/upload-artifact@master
        with:
          name: html-Pages
          path: docs/**