name: Converting markdown into html

on:
  push:
    branches: [ $default-branch ]

  workflow_dispatch:

jobs:
  mumbojumbo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@latest

      - name: Setup Pandoc
        uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: '2.11.4'

      - name: Cabal update
        run: cabal update

      - name: Setup pandoc sidenote
        run: cabal install pandoc-sidenote-0.22.1.0

      - name: bin linking
        run: mkdir -p /home/runner/.local/bin && sudo ln -s /home/runner/.cabal/bin/pandoc-sidenote /bin/pandoc-sidenote

      - name: Convert
        run: make

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs