name: Advanced Usage

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  convert_via_pandoc:
    runs-on: ubuntu-latest
    steps:
      - uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: '2.11.4'
      - run: make

      - uses: actions/upload-artifact@master
        with:
          name: html-Pages
          path: docs/**